<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h3>Wanna play a game</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-control></app-control>
    </div>
  </div>
  <div class="row left">
    <div class="col-xs-12">
      <h5 *ngIf="oddNumbers.length > 0">Odd Numbers</h5>
      <app-odd *ngFor="let item of oddNumbers" [item]="item"></app-odd>
    </div>
  </div>
  <div class="row right">
    <div class="col-xs-12">
      <h5 *ngIf="evenNumbers.length > 0">Even Numbers</h5>
      <app-even *ngFor="let item of evenNumbers" [item]="item"></app-even>
    </div>
  </div>
</div>
